body{
    background: url('https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXBwbGljYXRpb24lMjBmb3JtfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100%;
    background-attachment: fixed;
}
.card-body{
    background-color:rgb(222, 236, 214);
    backface-visibility: initial;
   
}
 
  .card{
     
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
       
    
}
.card:hover {
    transform: scale(1.1);
  }
 