<!-- college homepage
styled using html,css and bootstrap -->

<!-- below navbar -->
<div class="content">
  <div class="marquee">
    <marquee class="test-color text-success">
      <b><a>Applications for 2021-22 batch are now open....!!! <span
            style="color: red;">&nbsp;|</span></a></b>&nbsp;&nbsp;
      <b><a style="color: blue;">Odd Semester External Back Paper Registration 2021-22(BPUT)<span>&nbsp;|</span></a>
      </b>&nbsp;&nbsp;
      <b><a style="color: red;">Webinar on Industry Internet of Things-2021</a></b>
    </marquee>

    <!-- corosuell effest -->
  </div>
  <div class="slider">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1562774053-701939374585?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80"
            alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1501503069356-3c6b82a17d89?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1613685353742-5f7cad79f22f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNvbGxlZ2V8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- college body -->
  <div class="heading1">
    <h1>Academics</h1>
    <p>Schools and Faculties</p>
  </div>
  <div>
    <div class="container mt-2">
      <div class="d-flex p-2 text-black">
        <div>
          <h4 id="h1">Engineering</h4>
          <p id="h2">We have long been at the forefront of breakthrough research and innovation. We offer several
            degree
            programsThe department possess eminent, experienced teaching faculty who are not only strong in
            teaching but also in research activities, with quality publications in their field of interest apart
            from their professional practice through their consultancy work through the institution..</p>
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1504328345606-18bbc8c9d7d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
            alt="Engineering" width="450" height="300">
        </div>
      </div>
    </div>

    <div class="container mt-2">
      <div class="d-flex p-2 text-black">
        <div>
          <img
            src="https://images.unsplash.com/photo-1551601651-2a8555f1a136?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bWVkaWNhbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            alt="Engineering" width="450" height="300">
        </div>

        <div style="margin-left: 15px;">
          <h4 id="h1">Medical & health sciences</h4>
          <p id="h2">Join us in pioneering research, healthcare and implementing effective clinical therapies to
            improve living conditions. With an annual intake of 150 students, the medical college
            commenced in 2005. The facility of collaborative research in Sit Medical College and
            Hospital Campus is the focal point availing to the proximity to other institutions at the
            University</p>
        </div>
      </div>
    </div>
    <div class="container mt-2">
      <div class="d-flex p-2 text-black">
        <div>
          <h4 id="h1">Management</h4>
          <p id="h2">Creating effective leaders who can provide innovative ideas and solutions to change the
            worldA Specialization in marketing will help you to prepare yourself to meet the diverse set of
            marketing challenges present in today's competitive business environment - from understanding the
            evolving needs of the consumer, to managing sales, to overseeing international marketing and
            distribution operations..</p>
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWFuYWdlbWVudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            alt="Engineering" width="450" height="300">
        </div>
      </div>
    </div>
    <div class="container mt-2">
      <div class="d-flex p-2 text-black">
        <div>
          <img
            src="https://images.unsplash.com/photo-1574170609519-d1d8d4b71f60?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNjaWVuY2UlMjBhbmQlMjBodW1hbml0aWVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            alt="Engineering" width="450" height="300">
        </div>

        <div style="margin-left: 15px;">
          <h4 id="h1">Science & Humanities</h4>
          <p id="h2">The fascination with journalist and journalism is something here to stay even if the field is
            under tremendous pressure from within and without. Keeping in mind the absolute essential of ethics
            and ethical journalism in the print and broadcast outlets, the Department of Journalism and Mass
            communication shapes students with the zest to be journalists of tomorrow.</p>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="container-fluid">
  <div class="card-deck">
      <div class="card ">
        <iframe src="https://www.youtube.com/embed/jZt53MjhiX4" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title text-center">Techfest</h5>
          <p class="card-text">The Official Aftermovie of Techfest 2018-19: A Timeless Lapse
            With a footfall of over 175,000, Lectures by notable figures such as HH Dalai Lama, Gaur Gopal Das, and
            Simon
             </p>
           
        </div>
      </div>

      <!-- Bootstrap video cards -->
      <div class="card">
        <iframe src="https://www.youtube.com/embed/R6FvVAMr_9g" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title text-center">Spardha</h5>
          <p class="card-text">Spardha is the official games and Sports festival of IIT BHU. It is one of the largest</p>
        </div>
      </div>

      <div class="card">
        <iframe src="https://www.youtube.com/embed/vja-m6GMN0w" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title text-center ">Innovation</h5>
          <p class="card-text">The Official Aftermovie of Techfest 2018-19: A Timeless Lapse
            With a footfall of over 175,000, Lectures by notable figures such as HH Dalai Lama, Gaur Gopal Das, and
            Simon</p>
        </div>
      </div>
      </div>
    </div>

    <!-- Footer for college -->
  <div>
  <footer style="background-color: rgb(6, 70, 126);">
    <!-- Footer -->
    <footer class="text-center text-lg-start  text-white">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset" id="i1">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset" id="i1">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset" id="i1">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset" id="i1">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset" id="i1">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset" id="i1">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Silicon Institute of Technology
              </h6>
              <p>

              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Insights
              </h6>
              <p>
                <a href="#!" class="text-reset"> Innovation center</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Incubation center</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Student Club</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Placement</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Capmsues
              </h6>
              <p>
                <a href="#!" class="text-reset">Chennai</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Delhi</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Harayana</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Hyderabad</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Contact
              </h6>
              <p><i class="fas fa-home me-3"></i> india</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                Sit@gmail.com
              </p>
              <p><i class="fas fa-phone me-3"></i>7735832203</p>
              <p><i class="fas fa-print me-3"></i>993885838</p>
            </div>
           
          </div>
         
        </div>
      </section>

      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Siliconinstitute.com</a>
      </div>

    </footer>

  </footer>
</div>
 