<html lang="en">
    <h1 class="glow">
        SILICON INSTITUTE OF TECHNOLOGY<img class="logo"
            src="https://image.flaticon.com/icons/png/512/4752/4752582.png"
            height="100" width="100">
    </h1><br>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="iframe-container"><br><br>
                <img class="image"
                    src="https://media.istockphoto.com/photos/online-education-course-elearning-class-and-ebook-digital-technology-picture-id1225470365?k=6&m=1225470365&s=612x612&w=0&h=lT-aZhJeyvut08Je-Vk7g9tReQqVuN9_yHIxDQMpVvk="alt=""
                    width="675" height="450">
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <ul><br><br>
                <b> SILICON
                    INSTITUTE OF TECHNOLOGY (SIT)</b> was established under a duly registered Trust with
                     an objective to provide high quality technical education having significant
                      humanistic aspects.
                <br> <br>
                <span>
                    Since inception the Institution started its operation from its permanent campus at 
                    Silicon Hills, Patia in Bhubaneswar and Silicon West, Sason, Sambalpur. 
                    Both locations have beautiful campuses buzzing with activities with more than 
                    two thousand students, about two thousand alumni and four hundred and fifty 
                    staff members. Over the past decade, Silicon Institute of Technology has earned 
                    the reputation for being a premier engineering institute, and placed itself
                     prominently in the academic map of India.
                </span><br>
                <br>
                <span>Silicon’s growth has been possible because of its commitment to excellence and
                thirst for innovativeness and dynamism. The untiring efforts of a highly dedicated
                 team have been a cornerstone of its success and fast growth.</span>
            </ul>
        </div>
        <div class="container"><br>
            <span>Be aware
                that putting together a successful application does
                often require a significant amount of
                time. But of course, if you're successful, your efforts will be
                well worth it.
 
                Read on to find out how to research, apply, and get admission for
                your undergraduate degree.
 
            </span>
            <br>
            <br>
            <h4>Do you also want to apply for Admission? If yes, then find out
                more about the Silicon Institute Of Technology in this portal.</h4>
            <br>
            <br>
        </div>
        <div class="container">
            <h3>About Us</h3>
            <span>
                <div class="container col-sm-9">
                    <p>
                        To provide affordable quality education, while equipping students with knowledge
                        and skills in their chosen stream, inculcate values, identify hidden talents,
                         provide opportunities for students to realize their full potential and thus
                          shape them into future leaders, entrepreneurs and above all good human beings.
                          To strive for quality education in keeping with the motto of the college, 
                          “Excellence in Education” and prepare young minds for imbibing knowledge,
                           skills and sensitivity. </p>
                </div>
            </span>
        </div>
        <!-- <footer class="footer">
            <div class="footer-copyright text-center py-3">©️ 2021 Copyright:
                <a href="https://siliconinstituteoftechnology.com/">
                    siliconinstituteoftechnology.com</a>
                <ul>
                    <a>Phone number: +91 9938858238</a><br>
                </ul>
            </div>
        </footer> -->
        
    </div>
</html>
